{% extends "base.html" %}

{% block content %}
  <h2>Comment on {{ subject }}</h2>

    <form method="post">

      <label>
        <textarea name="content" value={{content}}>{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
      <a href="/"> <button type="button"> Cancel </button> </a>
       {% if task == "edit" %}
      <a href="{{ '/blog/deletecomment/%s' %post_id }} "{{post_id}} ><button type="button"> Delete </button> </a>
      {% endif %}
    </form>
{% endblock %}
