<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/bootstrap.css" />
  <link rel="stylesheet" href="/static/main.css" />
  <!--Mobile-->
  <meta name="viewport" content="width-device-width, initial-scale=1">
 <title>Labor, Happiness and Grace</title>
</head>

<body>
  <div class="container">
  <div class="col-md-12">
  <a href="/blog" class="main-title"></a>
    <div class="thumbnail text-center">
  <figure class="figure">
    <img  src="/static/BayFog.png" class="img-responsive center-block" alt="Valley with Fog">
    <div class="caption"><h2>Eat Local, Think Global</h2></div>
 </figure>
  </div>

    
  </div>
  </div> 
</body>

</html>

