<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}} 
    </div>
    <div class="error">{{error}}</div>
    <div class="post-date">
    <a class="login-link" href="/blog/editpost/{{p.key().id()}}" >edit</a>
    |
     <a class="login-link" href="/blog/newcomment/{{p.key().id()}}" >comment</a>
    |
    <a class="login-link" href="/blog/like/{{p.key().id()}}" >likes({{p.likes}})</a>
     | {{p.user}}| {{p.created.strftime("%b %d, %Y")}} 
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
